<h2>Search Authors</h2>

<form action="/authors" method="GET">
  <div class="input-group mb-3">
    <input
      type="text"
      class="form-control"
      id="name"
      name="name"
      placeholder="Search by author name"
      value="<% searchOptions.name %>"
    />
    <div class="input-group-append">
      <button type="submit" class="btn btn-primary">Search</button>
    </div>
  </div>
</form>

<div class="container">
  <div class="row">
    <% authors.forEach(author => { %>
    <div class="card col-md-4 mr-md-5 mr-xs-0 mb-4 col-xs-12">
      <div class="card-body">
        <h5 class="card-title"><%= author.name %></h5>
        <a href="/authors/edit" class="card-link">Edit</a>
        <a href="/authors/delete" class="card-link">Delete</a>
      </div>
    </div>
    <% }) %>
  </div>
</div>
